/* * {
	Outline: dotted 2px purple;
} */

header {
  background-color: rgb(58,140, 124);
  height: 120px;
  margin: 0 auto;
}

header > nav {
  margin: 0 auto;
  width: 960px;
}

nav > h1 {
  font-family:'Bebas Neue', cursive;
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 201, 181);
  line-height: 90px;
  float: left;
  margin: 10px;
}

nav > img {
  float: left;
  margin: 10px;
}

nav > ul {
  float: left;
}

a {
  color: rgb(255, 201, 181);
  text-decoration: none;
}

nav li {
  float: left;
  line-height: 90px;
  margin: 10px;
}

body {
  background-color: rgb(216, 155, 132);
  color: rgb(49, 37, 33);
  font-family:'Times New Roman', Times, serif;
}

main {
  width: 960px;
  margin: 0 auto;
}

main > h1 {
  font-family:'Bebas Neue', cursive;
  /* color: rgb(100, 140, 109); */
  text-align: center;
  margin: 50px 0px 100px 0px;
  font-size: 75px;
  text-decoration: underline;
}

#flavor {
  margin: 0px 0px 50px 0px;
}

#flavor > h2 {
  font-family:'Bebas Neue', cursive;
  color: rgb(83, 112, 89);
  text-decoration: underline;
  text-align: center;
  font-size: 30px;
  margin: 0px 0px 50px 0px;
}

#flavor > ul > li {
  overflow: hidden;

}

#flavor > ul > li > img {
  float: left;
  width: 50%;
  margin: 0px 30px 50px 0px;
}

#flavor > ul > li > section > h3 {
  font-size: 20px;
  margin: 0px 0px 10px 0px;
}

#flavor > ul > li > section > p {
  font-style: italic;
  overflow: auto;
}

#location {
  margin: 25px 25px 50px 25px;
}

#location > h2 {
  font-family:'Bebas Neue', cursive;
  color: rgb(83, 112, 89);
  text-decoration: underline;
  text-align: center;
  font-size: 30px;
  margin: 0px 0px 50px 0px;
}

#location > ul > li:first-child {
  float: left;
  width: 50%;
}

#location > ul > li:nth-child(2) {
  float: right;
  width: 50%
}

#location > ul > li:nth-child(3) {
  float: left;
  width: 50%;
}

#location > ul > li:nth-child(4) {
  float: right;
  width: 50%
}

#location > ul > li:nth-child(5) {
  clear: both;
  width: 50%;
  margin: 0 auto;
}

#location > ul > li > h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}

#location > ul > li > p {
  font-size: 15px;
  font-style: italic;
  margin: 0px 0px 10px 0px;
}

#location > ul > li > img {
  border: groove 4px rgb(49, 37, 33);
}

#hour {
  width: 50%;
  margin: 0 auto;
}

#hour > h2 {
  font-family:'Bebas Neue', cursive;
  color: rgb(83, 112, 89);
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 15px;
}

#hour > ul > li > p {
  text-align: center;
  margin: 8px;
}

#product {
  margin-top: 50px;
  margin-bottom: 250px;
}

#product > h2 {
  font-family:'Bebas Neue', cursive;
  color: rgb(83, 112, 89);
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 15px;
}

#product > ul > li {
  margin: 15px 0px 0px 125px;
  background-color: rgb(255, 201, 181);
  border: groove 3px rgb(49, 37, 33);
  padding: 10px;
  opacity: .9;
}

#product > ul > li:first-child {
  float: left;
}

#product > ul > li > h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

#product > ul > li:first-child > img {
  margin: 0px 0px 15px 18px;
}

#product > ul > li:nth-child(2) > img {
  margin: 0px 0px 15px 45px;
}

#product > ul > li:last-child > img {
  margin: 0px 0px 15px 14px;
}

#product > ul > li > p {
  font-size: 15px;
  text-align: center;
}


#product > ul > li:nth-child(2) {
  float: left;
}

#product > ul > li:last-child {
  float: left;
}

#pat {
  clear: both;
  overflow: auto;
}

#pat > img {
  float: left;
  border: groove 5px rgb(49, 37, 33);
  width: 47.5%;
  margin: 25px 15px 50px 15px;
}

#pat > section {
  width: 45%;
  float: right;
  margin: 0px 15px 50px 15px;
}

#pat > section > h2 {
  font-family:'Bebas Neue', cursive;
  color: rgb(83, 112, 89);
  font-size: 30px;
  margin-bottom: 10px;
  text-decoration: underline;
}

#pat > section > p {
  background-color: rgb(255, 201, 181);
  height: 250px;
  overflow: auto;
  font-style: italic;
  padding: 5px;
  border: solid 1px black;
}


footer {
  background-color: rgb(58,140, 124);
  height: 120px;
  margin: 0 auto;
  clear: both;
  overflow: auto;
  color: rgb(255, 201, 181);
}

footer > nav {
  margin: 0 auto;
  width: 960px;
}

footer > nav > img {
  border: groove 5px rgb(49, 37, 33);
}

#salesHeader {
  margin-bottom: 50px;
}

#salesMain {
  font-family: Arial, Helvetica, sans-serif;
}

#newLocation {
  width: 240px;
  margin: 0 auto;
  background-color: rgb(255, 201, 181);
}

#newLocation > fieldset {
  outline: groove 5px rgb(49, 37, 33);
  padding: 20px;
}

#newLocation > fieldset > legend {
  margin: 0px 0px 20px 0px;
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
}

table, tr, th, td{
  font-family: Arial, Helvetica, sans-serif;
  border: groove 3px rgb(49, 37, 33);
  border-collapse: collapse;
  padding: 5px;
}

table {
  width: 960px;
  margin: 50px 0px 50px 0px;
  background-color: rgb(255, 201, 181);
}

th, td:first-child, td:nth-child(16) {
  background-color: rgb(58,140, 124);
}

td, tr {
  color: rgb(49, 37, 33)
}

#salesData > li:first-child{
  margin: 10px;
  text-decoration: underline;
  font-size: 30px;
  font-weight: bold;
}

#salesData > li:nth-child(16n){
  margin: 10px;
  text-decoration: underline;
  font-size: 20px;
}

#salesData > li:nth-child(16n) + li {
  margin: 10px;
  text-decoration: underline;
  font-size: 30px;
  font-weight: bold;
}